/* GENERAL */
*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: Arial, sans-serial;
	font-size: 15px;
}

h1 
{
	font-family: 'Ubuntu', serif;
	font-size: 45px;
	color: #444;
}

ul
{
	list-style: none;
}

a 
{
	text-decoration: none;
	color: #444;
}
.wrapper 
{
	width: 940px;
	margin-top: 0 auto;
	padding: 0 10px;
}

.orange
{
	color: #3D4FFF;
}


/* HEADER */

header
{
	height: 120px;
}

header h1
{
	float: left;
	margin-top: 32px;
}

header nav 
{
	float: right;
	margin-top: 50px;
}

header nav ul li 
{
	float: left;
	display: inline-block;
}

header nav ul li a
{
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 20px;
}

/* MAIN IMAGE */

#main-image
{
	height: 580px;
	background: url('images/main.jpg') center;
}
